@model AppleStoreStuff.Models.AppleWatch

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

<h4>AppleWatch</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AppleWatchModel" class="control-label"></label>
                <input asp-for="AppleWatchModel" class="form-control" />
                <span asp-validation-for="AppleWatchModel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ScreenSize" class="control-label"></label>
                <input asp-for="ScreenSize" class="form-control" />
                <span asp-validation-for="ScreenSize" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cellular" class="control-label"></label>
                <input asp-for="Cellular" class="form-control" />
                <span asp-validation-for="Cellular" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gps" class="control-label"></label>
                <input asp-for="Gps" class="form-control" />
                <span asp-validation-for="Gps" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Color" class="control-label"></label>
                <input asp-for="Color" class="form-control" />
                <span asp-validation-for="Color" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HousingMaterial" class="control-label"></label>
                <input asp-for="HousingMaterial" class="form-control" />
                <span asp-validation-for="HousingMaterial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StrapType" class="control-label"></label>
                <input asp-for="StrapType" class="form-control" />
                <span asp-validation-for="StrapType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AmountOfProduct" class="control-label"></label>
                <input asp-for="AmountOfProduct" class="form-control" />
                <span asp-validation-for="AmountOfProduct" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

